<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap" rel="stylesheet"> 
    <title>Standard Webpage Template</title>
</head>

<body onload="loadSite()" onscroll="navBarChange()">

    <div id="navBar">
        <a href="#">About</a>
        <a href="#servicesShortcut">Services</a>
        <a href="#contactShortcut">Contact</a>
    </div>

    <div id="top"></div>
    <div class="mainCanvas" id="mainCVS">

        <div class="infoCanvas" id="about">
            <div class="info">
                <h1 class="header">About</h1>
                <hr>
                <p>This will be a section for you to write a small paragraph about your website / business</p>
            </div>
        </div>
        <a id="servicesShortcut"></a>

        <div class="infoCanvas" id="services">
            <div class="info">
                <h1 class="header">Services</h1>
                <hr>
                <h3>Service 1</h3>
                <p>
                    short sentence or two describing service / product
                    <h4>Price $$$</h4>
                </p>
                <hr>
                <h3>Service 2</h3>
                <p>
                    short sentence or two describing service / product
                    <h4>Price $$$</h4>
                </p>
                <hr>
                <h3>Service 3</h3>
                <p>
                    short sentence or two describing service / product
                    <h4>Price $$$</h4>
                </p>
                <hr>
                <h3>Service 4</h3>
                <p>
                    short sentence or two describing service / product
                    <h4>Price $$$</h4>
                </p>
            </div>
        </div>

        <a id="contactShortcut"></a>
        <div class="infoCanvas" id="contact">
            <div class="info">
                <h1 class="header">Contact</h1>
                <hr style="color: green;">
                <div class="contactInfoContainer">
                    <div class="contactInfoItem">
                        <div class="contactInfoItem" style="border: 0;">
                            <h3 class="header" style="margin: 20px 0;">Contact Information</h3>
                            <p><strong>Email: &nbsp;</strong>-------</p>
                            <p><strong>LinkedIn: &nbsp;</strong>-------</p>
                            <p><strong>Phone: &nbsp;</strong>-------</p>
                            <p><strong>Address: &nbsp;</strong>-------</p>
                            <p><strong>Personal Website: &nbsp;</strong>-------</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="infoCanvas" id="book">
            <div class="info">
                <h1 class="header">Book</h1>
                <hr>
                <div class="contactInfoContainer">
                    <div class="contactInfoItem">
                        <p>Customers can send you a message to your email through your website. <br>This form can be altered to best fit your needs.</p>
                        <textarea  id="inquiryTextbox" maxlength="1000"></textarea>
                        <div class="emailInputContainer"><span><strong>Name: &nbsp;</strong></span><input type="text" id="emailInput"></div>
                        <div class="emailInputContainer"><span><strong>Email: &nbsp;</strong></span><input type="email" id="emailInput"></div>
                        <div class="emailInputContainer"><span><strong>Phone: &nbsp;</strong></span><input type="text" id="emailInput"></div>
                        <input type="button" id="sendMessageButton" value="Send Message">
                    </div>
                </div>
            </div>
        </div>

        <div class="infoCanvas" id="footer" > 
            <div class="info" style="margin-top: 2%;">
                <h1 class="header">Footer</h1>
                <hr>
                <p>This could be a place to plug your social media.</p>
            </div>

            <div class="linkStrip">
                <!-- GitHub icon credit -->
                <!--<a target="_blank" href="https://icons8.com/icon/3tC9EQumUAuq/github">GitHub</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
                <div class="footerItem"><a href="#" style="width: 44px; height: 44px;"><img src="img/github-Icon.png" alt="GitHub-Icon"></a></div>

                <!-- LinkedIn icon credit -->
                <!-- <a target="_blank" href="https://icons8.com/icon/60444/linkedin-circled">LinkedIn Circled</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
                <div class="footerItem"><a href="#"><img src="img/linkedIn-Icon.png" alt="GitHub-Icon"></a></div>

                <!-- Facebook icon credit -->
                <!-- <a target="_blank" href="https://icons8.com/icon/118467/facebook">Facebook</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
                <div class="footerItem"><a href="#"><img src="img/facebook-Icon.png" alt="GitHub-Icon"></a></div>
            </div>
        </div>
    </div>

    <script src="../../script/navBarScript.js"></script>
    <script>
        function loadSite() {

            setTimeout(() => {

                document.getElementById(`about`).style.height = `600px`;

                document.getElementById(`services`).style.height = `1000px`;

                document.getElementById(`contact`).style.height = `600px`;

                document.getElementById(`book`).style.height = `975px`;

                document.getElementById(`footer`).style.height = `250px`;

                document.getElementById(`about`).style.width = `100%`;

                document.getElementById(`services`).style.width = `100%`;

                document.getElementById(`contact`).style.width = `100%`;

                document.getElementById(`book`).style.width = `100%`;

                document.getElementById(`footer`).style.width = `100%`;
                
            }, 300);
        }

    </script>
</body>
</html>